<div class="row">
	<div class="col-sm-12">
		<% @upcoming_events.each do |event| %>
		<div class="panel panel-custom calendar">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel-caption"> 
						<%= content_tag :span, event.start_time.strftime('%-d'), class: "calendar-date" %>   
						<%= content_tag :span, nil, class: "calendar-divider" %>
						<%= content_tag :span, event.start_time.strftime('%B'), class: "calendar-month" %> 
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<%= image_tag event.picture, class: "event-img" %>
				</div>
				<div class="col-sm-8">
					<%= content_tag :p, event.name, class: "event-name" %>
					<%= content_tag :span, event.start_time.strftime('%A'), class: "event-time" %> 
					<%= content_tag :span, event.start_time.strftime('%l:%M%P'), class: "event-time" %>
				</div>
			</div>
			<div class="panel-custom-footer">
			</div>
		</div>
		<% end %>
	</div>
</div>
