<span> <%= image_tag @club.avatar.url(:thumb) %></span>

<span class="club-name">Edit <%= @club.name %></h1></span>

<%= render 'form' %>

<%= link_to 'Show', @club %> |
<%= link_to 'Back', clubs_path %>
