<div class="col-sm-3 panel">
	<section>
		<p class="section-title">Club Info</p>
		<p><%= @club.name %></p>
		<p><%= @club.address %></p>
	</section>
	<section>
		<p class="section-title"><%= fa_icon 'photo' %> Photos</p>
		<%= image_tag @club.avatar.url(:thumb), class: "img-responsive" %>
	</section>
	<section>

	</section>
</div>
<div class="col-sm-6">
	<div id="follows_club">
		<%= render :partial => "follows_clubs/follow_club", :locals => {:club => @club} %>
	</div>
</div>
<div class="col-sm-3 panel">
	<section>
		<p class="section-title"><%= fa_icon 'calendar-o' %> Calendar</p>
		<% @club.events.each do |event| %>
		<p><%= event.date %></p>
		<%= link_to event.name, event %>
		<% end %>
	</section>
</div>
