<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @club.address %>
</p>
<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>
	<% @club.events.each do |event| %>

	<%= link_to event.name, event %>
<%= event.date %>
<% end %>

<div id="follows_club">
<%= render :partial => "follows_clubs/follow_club", :locals => {:club => @club} %>
</div>

 

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
