<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
 <% if user_signed_in? %>
<div id="follows_user">
<%= render :partial => "follows_users/follow_user", :locals => {:user => @user} %>
</div>
<% end %> 
	<% @followers.each do |follower| %>
<%= follower.email %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
