      <div class="wrapper">
    <div class="sidebar col-md-3">
		<section>
			<p class="section-title"><%= fa_icon 'bar-chart-o' %> Point Balance</p>
			<%= current_user.points %>
		</section>
          </div>
    <div class="content col-md-9">
    	<div class="col-md-8">
    	
    		 <%= bootstrap_flash %>
		<div class="page-well">
			<p class="section-title"><%= fa_icon 'clock-o' %> Today</p>
		</div>

    </div>
    <div class="col-md-4">
   <div class="table-responsive">
    	
		<table class="table table-striped table-hover">

				<tbody>
					<% @club.each do |club| %>
					<tr>
						<td><%= image_tag club.avatar.url(:tiny), class: "img-responsive" %> </td>
						<td class="club-list-name text-center"><%= club.name %></td>
						<td class="club-list-name text-center">
							<%= club.wait %> min
						</td>
						<td class="club-list-name text-center">
							<% if club.wait <= 10 %>
							<%= image_tag('green.png') %> 
							<% elsif club.wait <= 15 %>
							<%= image_tag('yellow.png') %>   
							<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
		</table>
		</div>
		
 </div>
</div>

