<% if user_signed_in? %>
<div class="col-sm-3">
	<%= image_tag current_user.avatar.url(:small), class: "img-responsive" %>
	<div class="panel">
		<section>
			<p class="section-title"><%= fa_icon 'building-o' %> My Clubs</p>
			<% @club.each do |club| %>
			<%= image_tag club.avatar.url(:tiny), class: "img-responsive" %>
			<%= club.name %>
			<% end %>
		</section>
	</div>
</div>
<div class="col-sm-6">
	<div class="panel">
		<section>
			<p class="section-title"><%= fa_icon 'clock-o' %> Today</p>
		</section>
	</div>
</div>
<div class="col-sm-3">
	<div class="panel">
		<section>
			<p class="section-title"><%= fa_icon 'bar-chart-o' %> Point Balance</p>
			<%= current_user.points %>
		</section>
	</div>
</div>
<% else %>
Welcome! Please <%= link_to 'Sign in', new_user_session_path %> to continue
<% end %>

