<% if user_signed_in? %>
<div class="col-sm-3 panel">
	<section>
		<p class="section-title"><%= fa_icon 'bar-chart-o' %> Point Balance</p>
		<%= current_user.points %></section>
<section>
	<p class="section-title"><%= fa_icon 'building-o' %> My Clubs</p>
<% @club.each do |club| %>
<%= club.name %>
<% end %>
</section>
</div>
<% else %>
Welcome! Please <%= link_to 'Sign in', new_user_session_path %> to continue
<% end %>

